[config]
infura = ""
toWallet = ""

[[wallets]]
privateKey = ""
address = ""

[[wallets]]
privateKey = ""
address = ""

[[wallets]]
privateKey = ""
address = ""

[[wallets]]
privateKey = ""
address = ""
